<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/common.css" rel="stylesheet" />
    <link href="~/Content/css/login.css" rel="stylesheet" />
    @RenderSection("styles", false)
</head>

<body>
    <!--弹窗登录窗口  --->
    <div id="pop" class="wrap">
        <div class="pop">
            <div class="head">登陆与注册<span class="close" onclick="hide()">×</span></div>
            <div class="reg">
                <input class="button" type="text" placeholder="请输入用户名/邮箱/ID" />
                <input class="button" type="password" placeholder="请输入密码" />
                <div class="mid">
                    <input type="checkbox" />两周内自动登陆
                    <a href="#" class="fp">忘记密码？</a>
                </div>
                <p>
                    <br />
                    <a class="login btn">立即登陆</a>
                    <a class="regnow btn">注册</a>
                </p>
            </div>
        </div>
    </div>
    <!--弹窗登录窗口结束  --->

    <div id="wrapper">
        <!--head start-->
        <div id="head">
            <!--top start -->
            <div class="top">
                <div class="TopInfo">
                    <div class="link">
                        <div style="float:left;">
                            <a href="index.html">魅族商城</a>
                            <a href="#" onclick="show();return false;">登陆</a>
                            <a href="#" style="background:none;" onclick="show();return false;">注册</a>
                        </div>
                        <div style="float:right;">
                            <a href="#">设为首页</a>
                            <a href="#">加入收藏</a>
                            <a href="#" style="background:none;">网站地图</a>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="TopLogo">
                    <div class="logo">
                        <a href="#">
                            <img src="~/Content/img/logo.jpg" alt="魅族商城" />
                        </a>
                    </div>
                    <div class="menu">
                        <ul>
                            <li><a href="index.html">首页</a></li>
                            <li><a href="product.html">公司产品</a></li>
                            <li><a href="@Url.Action("News","Home")">新闻动态</a></li>
                            <li><a href="zhaopin.html">人才招聘</a></li>
                            <li><a href="teach.html">技术支持</a></li>
                            <li><a href="feedback.html">客户反馈</a></li>
                            <li><a href="about.html">关于公司</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div style="height:10px;"></div>
        <!--head end-->
        <!--body start-->
        <div id="body">
            @RenderBody()
            <div class="HeightTab clearfix"></div>
            <!--links start-->
            <div id="Links">
                <span>友情链接：</span>
                <a href="http://www.qq.com/" target="_blank">TECENT腾讯</a>
                <a href="http://www.huigur.com/" target="_blank">域名空间</a>
                <a href="http://www.tencent.com/" target="_blank">腾讯网络</a>
                <a href="#" target="_blank">网易游戏</a>
                <a href="http://www.baidu.com/" target="_blank">百度</a>
                <a href="http://www.huigur.com/" target="_blank">IDC总站</a>
                <a href="http://www.4399.com/" target="_blank">4399小游戏</a>
                <a href="http://www.google.com/" target="_blank">GOOGLE</a>
                <a href="#" target="_blank">魅族手机</a>
                <a href="http://www.lezhii.com/" target="_blank">源码下载</a>
            </div>
            <!--links end-->
        </div>
        <!--body end-->
        <div class="HeightTab clearfix"></div>
        <!--footer start-->
        <div id="footer">
            <div class="inner">
                <p>
                    <a href="#" target="_blank">网站建设</a> |
                    <a href="#" target="_blank">服务条款</a> |
                    <a href="#" target="_blank">开放平台</a> |
                    <a href="#" target="_blank">广告服务</a> |
                    <a href="#" target="_blank">商务洽谈</a> |
                    <a href="#" target="_blank">企业招聘</a> |
                    <a href="#" target="_blank">社会公益</a> |
                    <a href="#" target="_blank">客服中心</a> |
                    <a href="#" target="_blank">网站导航</a> |
                    <a href="#" target="_blank">应用中心</a> |
                    <a href="#" target="_blank">版权所有</a><br />
                    Copyright © 2009 - 2014 LyWeb. All Rights Reserved <br />
                </p>
            </div>
        </div>
        <!--footer end -->
    </div>

    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/functions.js"></script>
    <script src="~/Content/js/myjs.js"></script>

    @RenderSection("scripts", false)
</body>
</html>